In [ ]:
Introduction of phython:
------------------------

1. Founder of phython is Guido van Rossum, found in 1989, Approved in 20th Febuary 1991.(Java found in 1995)
2. Phython is used in all departments(Web Page, Desktop Application, Mobile Apps, Gameing, Net Working, 
                                     data scientist, AI, Robetic.....)
3. Phythis is a opensource Language (We can change coding easily) and Freeware (No License Needed).
4. It is a high level programming language and also it is dianamic typed and statical typed programming language.
5. Extensive Liberary support which means already stored functions.
6. Disadvantages of phthyon is little bit slow in performance comapre to Java, c, C++.
7. Version fo phython.
   1.0 - 1994
   2.0 - 2000
   3.0 - 2008 after that small changes done version changed to 3.1, 3.2, 3.3,....Now we are using 3.11.
   Next version willbe October 2023

In [ ]:
Identifier:
-----------
1. Function
2. Variables
3. class

Rules for Identifier:
    1. Should be Alphabetical (a-z,A-Z).
    2. Digits (0-9), Should be meaningful.
    3. Symbols only(_) allowed, @#$..etc not allowed.
    4. Identifier should not be start with numbers.
    5. It also a case sensitive
    6. Reserved words not allowed which means we have 36 reserved words that not allowed as identifier (Ex: True, False, None)
       these three words only titlecase out of 36, otherwise remaing all are lower case.

Data types:
    
    There are 14 types list below:
        
    1. integer
    2. string
    3. float
    4. complex
    5. boolean
    6. dictionary
    7. list
    8. set
    9. tuple
    10. None
    11. bytes
    12. bytes array
    13. frozen set
    14. range
    
Phython is a object oriented programming language. To create a space in phython.

1. Integer - Numers(0-9), we can do add, sub, multiple, divison we get ansewer in float.

In [7]:
a=10
b=20

In [8]:
a+b

30

In [9]:
a-b

-10

In [11]:
a*b

200

In [12]:
a/b

0.5

In [ ]:
2. Complex data type: Real and imaginary numbers
    a+bj
    a=Real number
    b="imaginary number"
    Always "j" only presented along with the imaginary number

In [18]:
a=10+12j

In [19]:
type(a)

complex

In [ ]:
3. Boolean data type: Always returns True or False only

In [21]:
a=True
b=False
type(a)

bool

In [22]:
type(b)

bool

In [ ]:
4. String - With in a single quote '' or double quote "" we can give the data.
    1. we can able to add, multiple a string
    2. We can't do subtraction and division.
    3. we can able to check lenth of string but int, float, complex has no lenth.

In [25]:
a='Hello, World'
print(a)

Hello, World

In [26]:
type(a)

str

In [27]:
len(a)

12

In [28]:
a*2

'Hello, WorldHello, World'

In [30]:
a="hello"
b="world"

In [31]:
a+b

'helloworld'

In [ ]:
Type casting: We can conver one data type to another.
    1. we can't convert float into string.
    2. We can't convert string into float.
    3. All int convert to string possible
    4. all int to float possible
    5. all float to int possible
    6. all complex to int not possible

In [33]:
a=10

In [35]:
b=float(a)
print(b)

10.0

In [36]:
int(a)

10

In [37]:
str(a)

'10'

In [41]:
c=12j

In [42]:
type(c)

complex

In [45]:
True=1
False=0

SyntaxError: cannot assign to True (3919345597.py, line 1)

In [46]:
bool(1)

True

In [47]:
bool(0)

False

In [ ]:
Fundamental data types:
    1. Integer
    2. Float
    3. Complex
    4. String
    5. Boolean
All fundamental data types as immutable
    1. Mutable: We can able to change the variable
    2. Immutable: We can't change the varible we assigned

In [ ]:
List - Group of values with in a Square bracket
    1. We can give all data types in the list with a comma separation. Ex: [1, 2, 3, [1, 2, 3],'Neural Transformers']
    2. It is mutable
    3. The sequence of place value called as index.
    4. From left to right 0,1,2,3...
    5. From right to left -1,-2,-3...
    6. For tab to check the list attributes and shift tab for to see Docstring.

In [80]:
d=[1,2,3.4,5,"Neural Transformers",(7,8,9),{55,66,77}]
print(d)

[1, 2, 3.4, 5, 'Neural Transformers', (7, 8, 9), {66, 77, 55}]

In [82]:
d[2]=3
print(d)

[1, 2, 3, 5, 'Neural Transformers', (7, 8, 9), {66, 77, 55}]

In [105]:
d.append(4)
print(d)

[1, 2, 3, 5, 'Neural Transformers', (7, 8, 9), {66, 77, 55}, 4, '1', ',', '2', ',', '3', 4]

In [106]:
d.append("Hai")
print(d)

[1, 2, 3, 5, 'Neural Transformers', (7, 8, 9), {66, 77, 55}, 4, '1', ',', '2', ',', '3', 4, 'Hai']

In [110]:
d.append(14j)
print(d)

[1, 2, 3, 5, 'Neural Transformers', (7, 8, 9), {66, 77, 55}, 4, '1', ',', '2', ',', '3', 4, 'Hai', 12j, 12j, {4, 5}, 14j]

In [109]:
d.append({4,5})
print(d)

[1, 2, 3, 5, 'Neural Transformers', (7, 8, 9), {66, 77, 55}, 4, '1', ',', '2', ',', '3', 4, 'Hai', 12j, 12j, {4, 5}]

In [116]:
d.append([25,26,27])
print(d)

[1, 2, 3, 5, 'Neural Transformers', (7, 8, 9), {66, 77, 55}, 4, '1', ',', '2', ',', '3', 4, 'Hai', 12j, 12j, {4, 5}, 14j, [25, 26, 27], [25, 26, 27], [25, 26, 27], [25, 26, 27]]

In [ ]:
Append---inserts a given value at end of the list.(all type datatypes)

In [85]:
a=[2,3,4,5]
a.clear()
print(a)

[]

In [ ]:
Clear remove the all data from the list.

In [87]:
d.copy()

[1, 2, 3, 5, 'Neural Transformers', (7, 8, 9), {55, 66, 77}, 4]

In [95]:
d.count(5)

1

In [97]:
len(d)

8

In [ ]:
count reuturns the count of given numbers or value

In [117]:
d.extend("1,2,3")
print(d)

[1, 2, 3, 5, 'Neural Transformers', (7, 8, 9), {66, 77, 55}, 4, '1', ',', '2', ',', '3', 4, 'Hai', 12j, 12j, {4, 5}, 14j, [25, 26, 27], [25, 26, 27], [25, 26, 27], [25, 26, 27], '1', ',', '2', ',', '3']

In [118]:
len(d)

28

In [165]:
d

[3,
 5,
 'Happy',
 (7, 8, 9),
 {55, 66, 77},
 4,
 '1',
 ',',
 '2',
 ',',
 '3',
 4,
 'Hai',
 {4, 5},
 14j,
 [25, 26, 27],
 [25, 26, 27],
 [25, 26, 27],
 [25, 26, 27],
 '1',
 ',',
 '2',
 ',',
 '3']

In [168]:
d.index('Hai')

12

In [169]:
d[0]

3

In [135]:
d.insert(4,'Happy')
print(d)

[1, 2, 3, 5, 'Happy', 'Happy', (7, 8, 9), {66, 77, 55}, 4, '1', ',', '2', ',', '3', 4, 'Hai', 12j, 12j, {4, 5}, 14j, [25, 26, 27], [25, 26, 27], [25, 26, 27], [25, 26, 27], '1', ',', '2', ',', '3']

In [ ]:
Insert a given value at after the which index given.

In [136]:
d.pop(4)
print(d)

[1, 2, 3, 5, 'Happy', (7, 8, 9), {66, 77, 55}, 4, '1', ',', '2', ',', '3', 4, 'Hai', 12j, 12j, {4, 5}, 14j, [25, 26, 27], [25, 26, 27], [25, 26, 27], [25, 26, 27], '1', ',', '2', ',', '3']

In [147]:
d.remove(12j)
print(d)

[3, 5, 'Happy', (7, 8, 9), {66, 77, 55}, 4, '1', ',', '2', ',', '3', 4, 'Hai', {4, 5}, 14j, [25, 26, 27], [25, 26, 27], [25, 26, 27], [25, 26, 27], '1', ',', '2', ',', '3']

In [ ]:
Remove delete the first value of the list.

In [152]:
d.reverse()
print(d)

[3, 5, 'Happy', (7, 8, 9), {66, 77, 55}, 4, '1', ',', '2', ',', '3', 4, 'Hai', {4, 5}, 14j, [25, 26, 27], [25, 26, 27], [25, 26, 27], [25, 26, 27], '1', ',', '2', ',', '3']

In [ ]:
Reverse returns the list in the reverse order.

In [153]:
s=[1,5,6,3,2]
s.sort()
print()

In [172]:
s.sort(reverse=True)
print(s)

[6, 5, 3, 2, 1]

In [162]:
s.sort()
print(s)

[1, 2, 3, 5, 6]

In [ ]:
We can able to sort the int/float datatypes only.
Not not able to sort other combinations. int  --> string.
s.sort() Assending order
s.sort(reverse=True) - Decesing Order

In [178]:
b=(1,1.2,3,4,5,'Tuple',(1,2,3),True,False)

In [179]:
b.count(4)

1

In [180]:
b.count(1)

2

In [181]:
b.count(0)

1

In [ ]:
Tuple is Immutable, We cant do any changes like add, edit or delete in the Item assigned.
In Tuple returns the given values count.
In Tuple True=0, False=0

In [182]:
b.index("Tuple")

5

In [ ]:
Reuturn the index value

In [ ]:
Set

1. Delete the duplicate numbers
2. Also ordered
3. Not able to slice or Index so it is a Immutable

In [203]:
a={1,2,3,5,2,1}
print(a)

{1, 2, 3, 5}

In [193]:
a.add(10*2)
print(a)

{1, 2, 3, 5, 10, 20}

In [194]:
b={9,6,3,5,7,8}
print(b)

{3, 5, 6, 7, 8, 9}

In [197]:
b.clear()
print(b)

set()

In [199]:
a.copy()
print(a)

{1, 2, 3, 5, 10, 20}

In [200]:
c={1,2,3,}

In [204]:
a.difference(c)

{5}

In [205]:
c.difference(a)

{4}