In [ ]:
FOR loops:

1. Count from 1 to 5:
Write a program using a `for` loop that prints the numbers from 1 to 5.

In [1]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [ ]:
2. Sum of Numbers:
Write a program using a `for` loop that calculates the sum of numbers from 1 to 10 and prints the result.

In [1]:
sum=0
for i in (range(1,11)):
    sum=sum+i
print("The total count is",sum)

The total count is 55

In [ ]:
3. Print Even Numbers:
Write a program using a `for` loop that prints all even numbers from 1 to 10.

In [65]:
sum=0
for i in range(1,6):
    sum=sum+2
    print(sum)

2
4
6
8
10

In [ ]:
4. Reverse a String:
Write a program using a `for` loop that takes a string as input and prints the characters in reverse order.

In [4]:
str1=input("Enter name:")
a=""
for i in str1:
    a=i+a
    print(a)

Enter name:Prabha
P
rP
arP
barP
hbarP
ahbarP

In [ ]:
5. Multiplication Table:
Write a program using nested `for` loops that prints the multiplication table from 1 to 5 (1 to 5 times tables).

In [124]:
for i in range(1,11):
    for j in range(1,11):
        print(i, 'x', j, '=', j*i)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
7. Count Digits:
Write a program using a `for` loop that takes an integer as input and counts the number of digits in it.

In [11]:

a=int(input("Enter a num: " ))
print(len(str(a)))

Enter a num: 45632
5

In [121]:
a=int(input("Enter a num:"))
for i in a:

D r
k r
D p
k p
D r
k r
D p
k p
D r
k r
D p
k p

In [137]:
a=0
b=0
vow='aAeEIiOoUu'
c="Abcdefhgijklmnopqrstuvwxyz"
for i in vow:
    print(1)

1
1
1
1
1
1
1
1
1
1

In [16]:
a=input("Enter a name: ")
reversed_a=a[::-1]
if a==reversed_a:
    print('Palindrome')
else:
    print('Not a palindrome')

Enter a name: civic
Palindrome

In [139]:
a="aabbcc"
a.

{'aabbcc'}

a=input("Enter a word: ")
b=input("Enter another word: ")
replace_a=a.replace(" ","")
replace_b=b.replace(" ","")
if sorted(a) == sorted(b):
    print("This is palindrome")
else:
    print("This is not palindrome")

In [15]:
a=input("Enter a str:")
reversed_a=a[::-1]
if a==reversed_a:
    print("This is palindrome")
else:
    print("This is not palindrome")

Enter a str:rat
This is not palindrome

In [24]:
for i in range(1,6):
        print(i*"*",)

*
**
***
****
*****

In [5]:
x=input("Enter a string: ")
x=x.casefold()
w=""
for i in x:
    w=i+w
if(w==x):
    print("It is a palidrome")
else:
    print("It is not a palidrome")

Enter a string: mom
It is a palidrome

In [13]:
a="aaabbbcccdddff"
unique_a=set(a)

for i in unique_a:
    count=a.count(i)
    print("{",i,":",count,"}",end="")

{ b : 3 }{ c : 3 }{ f : 2 }{ a : 3 }{ d : 3 }

In [ ]:
Anaygram

In [18]:
a=input("Enter a anaygram: ")
b=input("Enter a anaygram1: ")
if sorted(a) == sorted(b):
    print("This is anaygram")
else:
    print("Not")

Enter a anaygram: tea
Enter a anaygram1: eat
This is anaygram

In [29]:
a="aaabbbcccdddff"
unique_a=set(a)

for i in unique_a:
    count=a.count(i)
    print("{",i,":",count,"}",end="")

{ c : 3 }{ f : 2 }{ b : 3 }{ a : 3 }{ d : 3 }

In [ ]:

7. Count Digits:
Write a program using a `for` loop that takes an integer as input and counts the number of digits in it.

In [33]:
num=123
print(len(str(num)))

3

In [44]:
num=input("Enter No:")
a=0
for i in num:
    if type(i)==int:
        if i in range(0,10):
            a=a+1
            print(a)

Enter No:123abc

In [53]:
"2" in str(range(0,10))

False

In [9]:
num=input("Enter No:")
a=0
b=0
for i in num:
    if(i.isdigit()):
        a=a+1
    b=b+1
print("The no digits is:",a)
print("The no of count is:",b)

Enter No:2563 abd
The no digits is: 4
The no of count is: 8

In [7]:
string=input("Enter string:")
count1=0
count2=0
for i in string:
      if(i.isdigit()):
          count1=count1+1
      count2=count2+1
print("The number of digits is:")
print(count1)
print("The number of characters is:")
print(count2)

Enter string:4563 ABI
The number of digits is:
4
The number of characters is:
8

In [150]:
a="This Is a a pen"
c=0
d=0
for i in a:
    if i in "aeiouAEIOU":
        c+=1        
    elif i!=" ":
        d+=1
print("Vowel count is",c)
    
print("Consonant is:",d)

Vowel count is 5
Consonant is: 6

In [170]:
a="Hi, All of you, WelcomE to the world"
b=0
c=0

for i in a:
    if (ord(i) > 64 and ord(i) < 91) or (ord(i) > 96 and ord(i) < 123):
        if i in 'aeiouAEIOU':
            b+=1
        else:
            c+=1
print("The Vowels count is:",b)
print("The Consonant count is:",c)

The Vowels count is: 11
The Consonant count is: 16

In [213]:
a="aaabbbcccdddeeeeee"
b=set(a)
out={}
for i in b:
    count=a.count(i)
    out[i]=count
print(out)

{'c': 3, 'b': 3, 'a': 3, 'd': 3, 'e': 6}

In [210]:
out

{'c': 3, 'b': 3, 'a': 3, 'd': 3, 'e': 6}

In [21]:
example = "Favtutor article"

vowels = ["a", "e", "i", "o", "u"]
count = 0

# using for-each loop, character is reference to a letter in the string
for character in example:
    if character in vowels:
        count += 1


print("Number of vowels in the given string is: ", count)

Number of vowels in the given string is:  6

In [27]:
a="This Is a pen"
b=a.lower()
print(b)

this is a pen

In [46]:
for i in range(1,101):
    c=0
    for j in range(2,(i//2+1)):
        if i%j==0:
            c=c+1
            break
    if c==0 and i!=1:
        print(i,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [53]:
i5=24
i%2+1

1

In [85]:
num=100

#num=int(input("Enter a number: "))

if num==1:
    print(num,"is not an prime number")
elif num>1:
    for i in range(2,num):
        if (num%i)==0:
            print(num,"is not a prime number")
            print(i,'times',num//i,"is",num)
            break
    else:
        print(num,"is a prime number")
else:
    print(num,"is not a prime number")

100 is not a prime number
2 times 50 is 100

In [ ]:
Find the Maximum and Minimum:
Write a function to find the maximum and minimum elements in a given list

In [135]:
a=[1,5,6,11,25,14,36,52]
large=a[0]
small=a[0]
for num in a:
    if num>large:
        large=num
    if num < small:
        small=num
        
print("Max",large)
print("Min",small)

Max 52
Min 1

In [99]:
a=[1,5,6,11,25,14,36,52]
print("Maximun",max(a))
print("Min",min(a))

Maximun 52
Min 1

In [ ]:
List Reversal:
Implement a function to reverse a given list in-place (without using the reverse() method)

In [102]:
b=[1,2,3,"prabha",4,5]
c=""
for i in str(b):
    c=i+c
print(c)

]5 ,4 ,'ahbarp' ,3 ,2 ,1[

In [111]:
b=[1,2,3,4,5,6]
l=[]
for i in b:
    l.insert(0,i)
print(l)

[6, 5, 4, 3, 2, 1]

In [ ]:
Remove Duplicates:
Write a function to remove duplicates from a list while preserving the order of the elements.

In [117]:
a=[11,22,11,22,33,33,55,66,77,77,11,55]
b=[]
[b.append(x) for x in a if x not in b]
print(b)

[11, 22, 33, 55, 66, 77]

In [214]:
row=5
for i in range(row):
    for j in range(i):
        print(" ",end="")
    for k in range(row-i):
        print("*",end="")
    print()

*****
 ****
  ***
   **
    *

In [215]:
for i in range(5,0,-1):
    for j in range(i):
        print('*', end="")
    print()

*****
****
***
**
*

In [216]:
for i in range(1,6):
    for j in range(i):
        print('*', end="")
    print()

*
**
***
****
*****

In [218]:
for i in range(5,0,-1):
    for j in range(i):
        print("", end="")
    for j in range(i):
        print('*', end="")
    print()

*****
****
***
**
*